h3 {
  padding: 50px 0;
  color: white;
  text-align: center;
}

h1 {
  padding-top: 50px;
  color: black;
}

.centered {
  text-align: center;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.blue {
  bakground: blue;
}

.container {
  max-width: $breakpoint_max;
  margin: 50px auto;
  width: 90%;
}

.row {
  padding: 25px 0;
}
