<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!-- This is modeled after HTML5 Boilerplate http://html5boilerplate.com/ -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Choose Your Own Grid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/grid.css">
  </head>

  <body>
  <div class='page-wrap'>
    <h1 class='centered'>Choose Your Own Grid</h1>
      <div class="row">
        <div class='column-1-of-2 green'><h2>.column-1-of-2</h2></div>
        <div class='column-1-of-2 red'><h2>.column-1-of-2</h2></div>
      </div>
    </div>
  </body>
</html>
